[submodule "Siesta/Code/ThirdParty/Platform/glfw"]
	path = Siesta/Code/ThirdParty/Platform/glfw
	url = https://github.com/glfw/glfw
[submodule "Siesta/Code/ThirdParty/Core/taskflow"]
	path = Siesta/Code/ThirdParty/Core/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "Siesta/Code/ThirdParty/Core/spdlog"]
	path = Siesta/Code/ThirdParty/Core/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Siesta/Code/ThirdParty/Core/json"]
	path = Siesta/Code/ThirdParty/Core/json
	url = https://github.com/nlohmann/json.git
[submodule "Siesta/Code/ThirdParty/Core/dynalo"]
	path = Siesta/Code/ThirdParty/Core/dynalo
	url = https://github.com/maddouri/dynalo.git
[submodule "Siesta/Code/ThirdParty/Render/DirectX-Headers"]
	path = Siesta/Code/ThirdParty/Render/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Siesta/Code/ThirdParty/Core/DirectXMath"]
	path = Siesta/Code/ThirdParty/Core/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "Siesta/Code/ThirdParty/Render/D3D12MemoryAllocator"]
	path = Siesta/Code/ThirdParty/Render/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
